# Default ignored files
/*.iws
/*.iml
/*.ipr

# Project exclude paths
/.gradle/
/build/
/build/classes/
/build/classes/java/main/
/build/extracted-include-protos/
/build/resources/

# IDE related directories
.idea/
